.filter_nav_main {
  padding: 18px 0;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.filter_nav_main::-webkit-scrollbar {
  display: none;
}
.project_type_main {
  position: fixed;
  width: 100%;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  z-index: 99;
  top: 87px;
}
.filter_nav_item {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.filter_nav_item img {
  width: 30px;
  height: 30px;
}
.filter_nav_item p {
  font-size: 12px;
  color: #222;
  margin-bottom: 0;
}
.filter_icon {
  width: 20px !important;
  height: 17px !important;
  margin-right: 6px;
}
.filter_button {
  border: 1px solid #222;
  font-size: 15px;
  font-weight: 500;
  color: #222;
}
.filter_button:hover {
  border: 1px solid #222;
}
.filter_label {
  margin-bottom: 10px;
    color: #ff385c;
    font-size: 15px;
    font-weight: 600;
}
.modal_filter_main {
  background-color: #fff;
    width: 555px;
    padding: 0 30px 30px;
    border-radius: 20px;
}