.microlocation_container {
    padding-top: 30px;
}
.select_builder {
    font-size: 13px;
    width: 100%;
}
/* .select_builder:nth-child(3) {
    width: 147px;
} */
.select_builder .css-1fdsijx-ValueContainer {
    padding: 0 3px;
}
.select_builder .css-13cymwt-control {
    border-radius: 8px;
}
.css-1u9des2-indicatorSeparator {
    display: none;
}
.css-1xc3v61-indicatorContainer {
    color: #ff385c !important;
}
.select_builder .css-1jqq78o-placeholder {
    color: #222;
    font-weight: 500;
}
.css-t3ipsp-control {
    border-color: #ff385c !important;
    border-radius: 8px !important;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.07);
}
.microlocation_projects {
    margin-top: 50px;
}