.accordion-button::after {
    background-image: url("../../media//down-arrow.png") !important;
}
.accordion-button:not(.collapsed) {
    background-color: initial !important;
}
.accordion-button:focus {
    border-color: transparent !important;
    box-shadow: none;
}
.accordion-button {
    font-weight: 600;
}
.faq_img_box img {
    width: 100px;
}