.city_banner_main {
  margin-top: 170px;
  padding-top: 52px;
  background-color: #fff;
  /* background: url("../media/citypage-banner.png"); */
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 77vh;
}
.cityPage_heading {
  text-align: center;
    position: absolute;
    top: 169px;
    width: 100%;
    color: white;
}
.cityPage_heading span {
  text-transform: capitalize;
  font-size: 54px;
  line-height: 68px;
}
.city_localities {
  background: linear-gradient(
    0deg,
    #f4f2ff 43.75%,
    rgba(238, 240, 245, 0) 100%
  );
}
.no_space_text {
  font-size: 16px;
  font-weight: 600;
  color: rgba(34, 34, 34, 0.5);
}
.city_select_form .css-b62m3t-container {
  position: absolute !important;
  box-sizing: border-box;
  top: 267px;
}
.search_location {
  width: 566px;
  margin: 30px auto 0;
  position: relative;
}
.search_location .css-13cymwt-control {
  border-radius: 29px !important;
  padding: 6px 0 !important;
}
.search_location .css-t3ipsp-control {
  border-radius: 29px !important;
  padding: 6px 0 !important;
  border-color: #ff7b93 !important;
  box-shadow: 0 0 0 1px #ff7b93 !important;
}
.video_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #0000006e;
}
.city_video_box {
  width: 100%;
  height: 89vh;
  position: relative;
  top: 87px;
}
.city_video_box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.city_container_main2 {
  padding-top: 50px;
}
.city_container_main {
  padding-top: 50px;
}
@media only screen and (max-width: 768px) {
  .city_banner_main {
    margin-top: 50px;
    height: 50vh;
  }
  .search_location .css-t3ipsp-control {
    padding: 3px 0 !important;
  }
  .city_video_box {
    height: 54vh;
    top: 52px;
  }
  .city_container_main {
    padding-top: 123px;
  }
  
  .search_location {
    width: 86%;
    position: absolute;
    box-sizing: border-box;
    top: 225px;
  }
  .city_select_form .css-b62m3t-container {
    position: absolute !important;
    top: 194px;
  }
  .search_location .css-13cymwt-control {
    border-radius: 21px !important;
    padding: 3px 0 !important;
  }
  .cityPage_heading span {
    font-size: 30px;
    line-height: 40px;
    color: #fff;
  }
  .city_row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-top: 0px;
  }
  .city_overlay_text h3 {
    font-size: 14px;
  }
  .city_overlay_text {
    margin-bottom: 14px !important;
  }
  .cityPage_heading {
    position: absolute;
    top: 133px;
    color: white;
    width: 100%;
  }
}
