.home_contact_right {
    padding-left: 100px;
}
.home_input {
    padding: 10px;
}
.home_select .css-13cymwt-control {
    min-height: 46px;
    border-radius: 10px;
}

.home_select .css-t3ipsp-control {
    min-height: 46px;
    border-radius: 10px;
}
.home_btn {
    padding: 10px;
}