.localities_main {
  background: rgba(255, 245, 246, 0.5);
}
.section_row {
  padding: 100px 0;
}
.localities_card {
  position: relative;
  width: 18rem;
  height: 300px;
}
.localities_card .img {
  height: 100%;
  overflow: hidden;
}
.localities_card .img img {
  height: 100% !important;
  object-fit: cover;
  border-radius: 23px;
  width: 100%;
}
.localities_card_overlay {
  position: absolute;
  width: 100%;
  border-radius: 20px;
  bottom: 0;
  height: 40%;
}
.localities_card_overlay1 {
  background: linear-gradient(0deg, #F0F7FF 43.75%, rgba(238, 240, 245, 0.00) 100%);
}
.localities_card_overlay2 {
  background: linear-gradient(0deg, #FFE7CE 43.75%, rgba(238, 240, 245, 0.00) 100%);
}
.localities_card_overlay3 {
  background: linear-gradient(0deg, #FFFBEB 43.75%, rgba(238, 240, 245, 0.00) 100%);
}
.localities_card_overlay4 {
  background: linear-gradient(0deg, #F4F2FF 43.75%, rgba(238, 240, 245, 0.00) 100%);
}
.overlay_text {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
}
.overlay2 {
  background: rgba(255, 56, 92, 0.6);
  mix-blend-mode: soft-light;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  border-radius: 20px;
}
