@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

.m60 {
  margin-top: 60px;
}

h1 {
  font-size: 26px;
  line-height: 30px;
  font-weight: 600;
  color: #222;
}
.heading {
  font-size: 26px;
  font-weight: 600;
  color: #222;
}
.error_validate {
  font-size: 13px;
  font-weight: 500;
  color: #ff385c;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
a {
  color: #222;
  text-decoration: none;
}

h3 {
  color: #222;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0 !important;
}
a {
  text-decoration: none;
}
h5 {
  font-size: 18px;
  font-weight: 600;
  color: #222;
  margin-bottom: 0;
}
h6 {
  font-size: 14px;
  font-weight: 600;
  color: #222;
  margin-bottom: 0;
}
p {
  font-weight: 500;
}
.mb30 {
    margin-bottom: 30px;
}
.divider_line {
  background-color: rgba(34, 34, 34, 0.5);
  margin-top: 30px;
}
.mt100 {
  margin-top: 100px;
}
.primary_color {
  color: #ff385c;
}
.desk_hide {
  display: none;
}
@media only screen and (max-width: 768px) {
  .mob_hide {
    display: none;
  }
  h1 {
    font-size: 22px;
  }
  .mt100 {
    margin-top: 50px;
  }
  .heading {
    font-size: 20px;
  }
  h3 {
    font-size: 17px;
  }
  .desk_hide {
    display: block;
  }
}
